{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    #changelist .actions label {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        margin-right: 8px;
    }
  </style>
{% endblock %}

{% block nav-global %}{% endblock %}
