{% extends 'sites/academic/base.html' %}
{% load i18n static %}

{% block breadcrumb_items %}
<li class="breadcrumb-item active" aria-current="page">
  <a href="{% url 'academic_lecture_index' %}">{{ opts.verbose_name_plural | title }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ instance }}</li>
{% endblock %}

{% block page_title %}
<h1 class="display-5 text-white">
  {{ instance.title }}
</h1>
{% endblock %}


{% block page_subtitle %}
  {% if instance.summary %}
  <p>{{ instance.summary | safe }}</p>
  {% endif %}
  <div class="page-header__meta mb-3">
    <div class="mr-2 d-inline-block">
      <i class="mdi mdi-school"></i>
      {{ instance.curriculum_course.curriculum.rmu }} / Semester {{ instance.curriculum_course.semester_number }}
    </div>
    <div class="mr-2 d-inline-block"><i class="mdi mdi-door-open"></i> {{ instance.room }}</div>
    <div class="mr-2 d-inline-block">
      <i class="mdi mdi-arrow-right-drop-circle-outline"></i>
      {{ instance.duration }} x {{ instance.series }} {% trans 'series' %}
    </div>
    <div class="mr-2 d-inline-block">
      <i class="mdi mdi-account-circle-outline"></i>
      12 / 35 students
    </div>
  </div>
{% endblock %}

{% block content_main_class %}col-md-9{% endblock %}

{% block content_main %}

<h3 class="font-weight-bold mb-3">{% trans 'Students Planned' %}</h3>
<div class="table-card bg-light mb-4 border">
  <div class="table-responsive">
    <table class="table table-sm table-hover table-small mb-0">
      <thead>
      <tr>
        <th class="border-0 pl-4" scope="col">{% trans 'Name' %}</th>
        <th class="border-0" width="100" scope="col">{% trans 'Student ID' %}</th>
        <th class="border-0" width="150" scope="col">{% trans 'Year of Force' %}</th>
        <th class="border-0" width="150" scope="col">{% trans 'Program Study' %}</th>
        <th class="border-0 mr-3" width="100" scope="col">{% trans 'Status' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for item in instance.student_plans.all %}
      <tr>
        <td class="pl-4" scope="row">
          <a href="#">{{ item.student }}</a>
        </td>
        <td>{{ item.student.student_id }}</td>
        <td>{{ item.student.year_of_force }}</td>
        <td>{{ item.student.rmu }}</td>
        <td class="mr-3">{{ item.get_criteria_display | title }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block content_sidebar_class %}col-md-3{% endblock %}
{% block content_sidebar %}
  <img src="{{ instance.qrcode.url }}" class="img-fluid shadow-sm">
{% endblock %}