{% load i18n widget_tweaks %}
<form action="{% url 'classrooms_lecture_index' %}" method="get" id="StudentFilterForm">

  <div class="sidebar__widget ">
    <div class="form-group">
      {% trans 'Course name' as placeholder %}
      {% render_field filter.form.course_name class="form-control" placeholder=placeholder %}
    </div>
    <button type="submit" class="btn btn-block btn-primary">{% trans 'Filter' %}</button>
    <a href="{% url 'classrooms_lecture_index' %}" class="btn btn-block btn-danger mt-2">{% trans 'Clear' %}</a>
  </div>

  <div class="sidebar">

    <div class="sidebar__widget sidebar__widget--collapsible">
      <a class="collapse__button"
         href="#sidebar__widget__collapse__{{ filter.form.semester.name }}"
         role="button"
         data-toggle="collapse"
         aria-expanded="true"
         aria-controls="{{ filter.form.semester.name }}">
        {{ filter.form.semester.label | title }}
      </a>
      <div id="sidebar__widget__collapse__{{ filter.form.semester.name }}"
           class="collapse collapse__content show"
           aria-labelledby="heading_{{ filter.form.semester.name }}">
        <ul>
          {% for choice in filter.form.semester %}
          <li>{{ choice.tag }}<span class="ml-2 small">{{ choice.choice_label }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="sidebar__widget sidebar__widget--collapsible">
      <a class="collapse__button collapsed"
         href="#sidebar__widget__collapse__{{ filter.form.academic_year.name }}"
         role="button"
         data-toggle="collapse"
         aria-expanded="true"
         aria-controls="{{ filter.form.academic_year.name }}">
        {{ filter.form.academic_year.label | title }}
      </a>
      <div id="sidebar__widget__collapse__{{ filter.form.academic_year.name }}"
           class="collapse collapse__content"
           aria-labelledby="heading_{{ filter.form.academic_year.name }}">
        <ul>
          {% for choice in filter.form.academic_year %}
          <li>{{ choice.tag }}<span class="ml-2 small">{{ choice.choice_label }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</form>