{% extends 'sites/academic/base.html' %}
{% load i18n %}

{% block extra_css %}
  {{ block.super }}
{% endblock %}

{% block header %}
  {% include 'sites/classrooms/includes/navbar.html' %}
{% endblock %}

{% block breadcrumb_class %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="//{{ request.get_host }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'classrooms_app_index' %}">{% trans 'Classrooms' %}</a></li>
  {% block breadcrumb_items %}{% endblock %}
{% endblock %}