{% extends 'sites/academic/student/inspect.html' %}
{% load i18n static academic_tags %}

{% block tabs %}
  {% include 'sites/academic/student/tabs.html' with link_active='lectures' %}
{% endblock %}

{% block content_main %}
  <div class="lectures-card card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h4>{% trans 'Lectures' %}</h4>
      <div>
        <select class="form-control" name="statusFilter" id="statusFilter">
          {% for status in status_list %}
            <option value="{{ status.0 }}" 
                    {% if status_selected == status.0 %}selected{% endif %}>{{ status.1 }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="card-body">
      {% with lectures as results %}
        {% if results %}
        <div class="table-responsive">
          <table class="table table-sm table-hover table-small mb-0">
            <thead>
            <tr>
              <th class="border-0 pl-4" scope="col">{% trans 'Name' %}</th>
              <th class="border-0" width="150" scope="col">{% trans 'Academic Year' %}</th>
              <th class="border-0 text-center" scope="col">{% trans 'Date Start' %}</th>
              <th class="border-0 text-center" scope="col">{% trans 'Time Start' %}</th>
              <th class="border-0 text-center pr-4" width="30" scope="col">{% trans 'Duration' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in results %}
              <tr>
                <td class="pl-4" scope="row">
                  <a href="{{ item.get_public_url }}">
                    {{ item }}</a>
                </td>
                <td>{{ item.academic_year }}</td>
                <td>{{ item.date_start }}</td>
                <td class="text-center">{{ item.time_start }}</td>
                <td class="text-center pr-4">{{ item.duration }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <div class="p-3">{% trans 'No lecture here.' %}</div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>
    lectureStatusFilter = document.getElementById('statusFilter');
    lectureStatusFilter.onchange = function(e){
      console.log(lectureStatusFilter.value)
      window.location = "{% url 'academic_student_lectures' instance_pk=instance.id %}?status=" + lectureStatusFilter.value;
    };
  </script>
{% endblock %}