{% load formutils_tags widget_tweaks %}

{% for field in form %}
<div class="form-group mb-3">
  {% if field|is_checkbox %}
      <div class="i-checks">
        {% render_field field class="checkbox-template" id=field.name %}
        <label for="{{ field.name }}" class="form-control-label">
          <span>{{ field.label }}</span>
        </label>
      </div>
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {{ field.errors }}
  {% elif field|is_textarea %}
    <label for="{{ field.name }}" class="form-control-label">
      {{ field.label }}{% if field.field.required %} <sup class="text-danger">*</sup>{% endif %}
    </label>
    {% render_field field class="form-control" rows="5" %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {{ field.errors }}
  {% else %}
    <label for="{{ field.name }}" class="form-control-label">
      {{ field.label }}{% if field.field.required %} <sup class="text-danger">*</sup>{% endif %}
    </label>
    {% render_field field class="form-control" %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {{ field.errors }}
  {% endif %}
</div>
{% endfor %}
