{% extends 'account/shared/card.html' %}
{% load i18n %}

{% block card_title %}{% trans 'Formal Education' %}{% endblock %}

{% block card_action %}
<a href="{% url 'profile_formaleducation_create' %}" class="dropdown-item edit">
  <i class="fa fa-plus"></i>{% trans 'New' %}
</a>
{% endblock %}

{% block card_content %}
{% if instance.formal_educations.all %}
<div class="table-responsive">
  <table class="table table-sm highlight">
    <thead>
    <tr>
      <th class="border-0">{% trans 'Level' %}</th>
      <th class="border-0">{% trans 'Institution' %}</th>
      <th class="border-0">{% trans 'Major' %}</th>
      <th class="border-0">{% trans 'Date start' %}</th>
      <th class="border-0">{% trans 'Date end' %}</th>
      <th class="border-0">{% trans 'Status' %}</th>
      {% if is_mine %}
        <th class="border-0" width="50"></th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% with instance.formal_educations.all as educations %}
      {% for item in educations %}
        <tr>
          <td>{{ item.get_level_display | upper }}</td>
          <td>{% firstof item.institution '-' %}</td>
          <td>{% firstof item.major '-' %}</td>
          <td>{% firstof item.date_start '-' %}</td>
          <td>{% firstof item.date_end '-' %}</td>
          <td>{% firstof item.get_status_display '-' %}</td>
          {% if is_mine %}
            {% include 'profile/includes/action_buttons.html' %}
          {% endif %}
        </tr>
      {% endfor %}
    {% endwith %}
    </tbody>
  </table>
</div>
{% else %}
  {% trans 'formaleducation' as model_name %}
    {% include 'profile/includes/empty_table.html' with model_name=model_name %}
  {% endif %}
{% endblock %}