{% extends 'account/shared/card.html' %}
{% load i18n %}

{% block card_title %}{% trans 'Work History' %}{% endblock %}

{% block card_action %}
<a href="{% url 'profile_working_create' %}" class="dropdown-item edit">
  <i class="fa fa-plus"></i>{% trans 'New' %}
</a>
{% endblock %}

{% block card_content %}
{% if instance.work_histories.all %}
<div class="table-responsive">
  <table class="table table-sm highlight">
    <thead>
    <tr>
      <th class="border-0">{% trans 'Name' %}</th>
      <th class="border-0">{% trans 'Department' %}/ {% trans 'Position' %}</th>
      <th class="border-0">{% trans 'Date start' %}</th>
      <th class="border-0">{% trans 'Date end' %}</th>
      <th class="border-0">{% trans 'Employment' %}</th>
      {% if is_mine %}
        <th class="border-0" width="50"></th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% with instance.work_histories.all as works %}
      {% for item in works %}
        <tr>
          <td><strong>{% firstof item.department '-' %} / {% firstof item.position '-' %}</strong>
            <div>{% firstof item.description '-' %}</div>
          </td>
          <td>{{ item.institution }}</td>
          <td>{% firstof item.date_start '-' %}</td>
          <td>{% firstof item.date_end '-' %}</td>
          <td>{% firstof item.get_employment_display '-' %}</td>
          {% if is_mine %}
            {% include 'profile/includes/action_buttons.html' %}
          {% endif %}
        </tr>
      {% endfor %}
    {% endwith %}
    </tbody>
  </table>
</div>
{% else %}
  {% trans 'work history' as model_name %}
    {% include 'profile/includes/empty_table.html' with model_name=model_name %}
  {% endif %}
{% endblock %}