{% extends "account/base_external_form.html" %}

{% load i18n %}
{% load account %}

{% block form_content %}
<h1 class="mb-3">{% trans "Sign In" %}</h1>

<form method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% include 'account/includes/fieldset_stacked.html' %}
  <button class="btn btn-primary  mb-3" id="primaryAction" type="submit">{% trans "Sign In" %}</button>
  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
</form>
 
</div>
{% endblock %}