{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block breadcrumb %}{% endblock %}
{% block page_header %}{% endblock %}

{% block content_main %}

<div class="container-fluid mt-4">
  <div class="{{ self.opts.model_name }} card">
    <div class="card-header d-flex align-items-center">
      <div>
        <h3 class="h4">{% trans "Change Password" %}</h3>
        <p class="m-0">{% trans "Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter" %}</p>
      </div>
    </div>
    <div class="card-body">
      <div class="p-3">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-group row">
          <label for="{{ form.oldpassword.name }}" class="col-sm-3 col-form-label">
            {{ form.oldpassword.label }}
          </label>
          <div class="col-sm-6">
            {% render_field form.oldpassword class='form-control' %}
            <small class="form-text text-muted">{{ form.oldpassword.help_text }}</small>
            {{ form.oldpassword.errors }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.password1.name }}" class="col-sm-3 col-form-label">
            {{ form.password1.label }}
          </label>
          <div class="col-sm-6">
            {% render_field form.password1 class='form-control' %}
            <small class="form-text text-muted">{{ form.password1.help_text }}</small>
            {{ form.password1.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.password2.name }}" class="col-sm-3 col-form-label">
            {{ form.password2.label }}
          </label>
          <div class="col-sm-6">
            {% render_field form.password2 class='form-control' %}
            <small class="form-text text-muted">{{ form.password2.help_text }}</small>
            {{ form.password2.errors }}
          </div>
        </div>
        <p>
          <button type="submit" class="btn btn-primary mr-3" name="action">{% trans "Change Password" %}</button>
          <a href="{% url 'account_home' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </p>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
