{% extends 'includes/navbar.html' %}
{% load i18n static %}

{% block header_classname %}bg-primary{% endblock %}
{% block navbar_classname %}navbar-dark{% endblock %}
{% block navbar_brand_url %}{% url 'academic_app_index' %}{% endblock %}

{% block navbar_brand %}
  <img src="{% static 'img/academic_logo.svg' %}" alt="SISKA+"/>
{% endblock %}

{% block navbar_button_items %}
  <a class="nav-icon-button d-lg-none" href="{% url 'academic_app_index' %}" data-toggle="tooltip" data-placement="top" title="Academic Index">
    <i class="mdi mdi-home icon-button rounded-circle"></i>
  </a>
  <a class="nav-icon-button d-lg-none" href="{% url 'academic_curriculum_index' %}" data-toggle="tooltip" data-placement="top" title="Curriculums">
    <i class="mdi mdi-school icon-button rounded-circle"></i>
  </a>
  <a class="nav-icon-button d-lg-none" href="{% url 'academic_course_index' %}" data-toggle="tooltip" data-placement="top" title="Courses">
    <i class="mdi mdi-book-open-page-variant icon-button rounded-circle"></i>
  </a>
  <a class="nav-icon-button d-lg-none" href="{% url 'academic_teacher_index' %}" data-toggle="tooltip" data-placement="top" title="Teachers">
    <i class="mdi mdi-account-tie icon-button rounded-circle"></i>
  </a>
  <a class="nav-icon-button d-lg-none" href="{% url 'academic_student_index' %}" data-toggle="tooltip" data-placement="top" title="Students">
    <i class="mdi mdi-account icon-button rounded-circle"></i>
  </a>
  <a class="nav-icon-button" href="#" data-toggle="tooltip" data-placement="top" title="Guides">
    <i class="mdi mdi-help-circle-outline icon-button rounded-circle"></i>
  </a>
{% endblock %}

{% block navbar_app_menu_items %}
  <li class="nav-item"><a href="{% url 'academic_app_index' %}" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="{% url 'academic_curriculum_index' %}" class="nav-link">Curriculums</a></li>
  <li class="nav-item"><a href="{% url 'academic_course_index' %}" class="nav-link">Courses</a></li>
  <li class="nav-item"><a href="{% url 'academic_teacher_index' %}" class="nav-link">Teachers</a></li>
  <li class="nav-item"><a href="{% url 'academic_student_index' %}" class="nav-link">Students</a></li>
  {% if perms.global_permission.access_academic_admin %}
    <li class="nav-item"><a href="{% url 'academic_admin:index' %}" class="nav-link">Admin</a></li>
  {% endif %}
{% endblock %}

{% block account_menu_items %}{% endblock %}
