{% extends 'sites/academic/base.html' %}
{% load i18n static %}

{% block extra_css %}
  {{ block.super }}
{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'academic_teacher_index' %}">{{ opts.verbose_name_plural | title }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ instance | title }}</li>
{% endblock %}

{% block page_title %}
  <h1 class="page-title">{{ instance | title }}</h1>
{% endblock %}


{% block page_subtitle %}{% endblock %}

{% block tabs %}
  {% include 'sites/academic/teacher/tabs.html' with link_active='profile' %}
{% endblock %}

{% block content_main_class %}col-md-9{% endblock %}
{% block content_main %}
  {% include 'profile/includes/address.html' with card_name='personaddress' instance=instance.account.person %}
  {% include 'profile/includes/skill.html' with card_name='skill' instance=instance.account.person %}
  {% include 'profile/includes/formal_education.html' with card_name='formaleducation' instance=instance.account.person %}
  {% include 'profile/includes/nonformal_education.html' with card_name='nonformaleducation' instance=instance.account.person %}
  {% include 'profile/includes/working.html' with card_name='work' instance=instance.account.person %}
  {% include 'profile/includes/volunteer.html' with card_name='volunteer' instance=instance.account.person %}
  {% include 'profile/includes/award.html' with card_name='award' instance=instance.account.person %}
  {% include 'profile/includes/publication.html' with card_name='publication' instance=instance.account.person %}
  {% include 'profile/includes/family_relationship.html' with card_name='family' instance=instance.account.person %}
{% endblock %}

{% block content_sidebar_class %}col-md-3{% endblock %}
{% block content_sidebar %}
<div class="sidebar__widget">
  <div class="user-view mt-3">
    <a href="{% if instance.account.person %}{% url 'public_profile' username=instance.account.username %}{% else %}#{% endif %}">
      <img src="{{ instance.account.gravatar }}" alt="Avatar" class="avatar avatar-lg avatar-center rounded-circle ">
    </a>
    <span class="name mt-3">{{ instance }}</span>
    <span class="email">{{ instance.account.primary_email }}</span>
  </div>
</div>
{% endblock %}