{% load i18n %}
<div class="col-12 col-md-{% firstof col 12 %}">
  <div class="card">
    <div class="card-body d-flex">
      <div class="user-view">
        <img class="avatar avatar-md rounded-circle" src="{{ instance.get_gravatar_url }}" alt="avatar"/>
      </div>
      <div class="ml-3">
        <h5 class="card-title"><a href="{{ instance.get_public_url }}">{{ instance }}</a></h5>
        <div class="card-meta">
          <span class="card-meta__item">{{ instance.tid }}</span>
          <span class="card-meta__item">{{ instance.rmu }}</span>
          {% if not instance.is_active %}<span class="card-meta__item bg-danger text-white">{% trans 'inactive' %}</span>{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>